/* General Styles */

a {
  text-decoration: none;
}

.App {
  text-align: center; 
} 
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -999;
}

.content-video {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

/*Menu */
.TopMenu-Avatar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}

.avatar-photo {
  max-height: 25px;
  border-radius: 50%;
}

.menu-button {
  z-index: 999;
  background: transparent !important;
}

.userMenu-close {
  float: right;
}

.mdl-button {
  position: static !important;
}

/* HOME */


.Home-Login-Menu {
  margin: auto;
  width: 100%;
  border: 1px solid green;
  max-width: 600px;
}




/* MainPage */


/*Deck */

#root-deck-card {
  background: rgba(50, 50, 73, 0.3);
  position: fixed;
  overflow: hidden;
  width: 50%;
  height: 50%;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
}

#root-deck-card > div {
  position: absolute;
  /* width: 100vw;
  height: 100vh; */
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

#root-deck-card > div > div {
  background-color: black;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  /* width: 45vh; */
  max-width: 300px;
  /* height: 85vh; */
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.card-container {
  /* width: 90%; */
  width: 600px;
  height: 80vh;
  border: solid 1px blue;
  margin: auto;

  /* margin: 0;
  padding: 0; */
  /* height: 100%;
  width: 100%; */
  overscroll-behavior-y: contain;
  user-select: none;
  position: fixed;
  overflow: hidden;
}


.card {
  border: 1px solid #fff;
  padding: 20px;
  margin: 10px auto;
 width: 300px;
height: 300px;
/* z-index: 999; */
}

.card p {
  text-align: justify;
}
.icon {
  padding: 5px;
}

.icon-branch::before {
  display: block;
  content: "";
  background-image: url(./img/branch.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

.icon-type::before {
  display: block;
  content: "";
  background-image: url(./img/type.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

