/* General Styles */

a {
  text-decoration: none;
}

.App {
  text-align: center; 
} 
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -999;
}

.content-video {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  /* background-color: rgba(10, 10, 255, 0.7); */
}

/*Menu */
.TopMenu-Avatar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}

.avatar-photo {
  max-height: 25px;
  border-radius: 50%;
}

.menu-button {
  z-index: 999;
  background: transparent !important;
}

.userMenu-close {
  float: right;
}

.mdl-button {
  position: static !important;
}

/* HOME */


.Home-Login-Menu {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

/* MainPage */

.card-container {
  /* width: 90%; */
  width: 100%;
  height: 100%;
  margin: auto;

}


.card {
  border: 1px solid #fff;
  padding: 20px;
  margin: 10px auto;
 width: 350px;
height: 500px;
/* z-index: 999; */
}

.card-footer {
  position: fixed;
  bottom: 20px;
width: 300px;
}

.card-button {
border-radius: 50%;
padding: 10px;
background-color: transparent;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.card-emoji-admin {
background: transparent;
}
.card-description {
  height: 250px;
}


.card p {
  text-align: justify;
}
.icon {
  padding: 5px;
  float: left;
}
.card-branch {
font-weight: bold;
text-transform: capitalize;
line-height: 2em;
font-size: 1.1em;
}

.card-type {
  line-height: 2em;
  font-size: 1em;
}

.icon-branch::before {
  display: block;
  content: "";
  background-image: url(./img/branch.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

.icon-type::before {
  display: block;
  content: "";
  background-image: url(./img/type.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

