/* General Styles */

a {
  text-decoration: none;
}

.App {
  text-align: center; 
  
} 
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -999;
}

.content-video {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  /* background-color: rgba(10, 10, 255, 0.7); */
}

/* Add a black background color to the top navigation */
.topMenu {
height: 5vh;
}

/* Style the links inside the navigation bar */
.topmenu-link{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid transparent;
}

/* Change the color of links on hover */
.topmenu-link:hover {
  font-weight: bold;;
}

.clear {
  clear: both;
}


/*Menu */
.TopMenu-Avatar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;

  
}

.avatar-photo {
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  min-height: 30px;
  min-width: 30px;
  background-image: url('https://api.adorable.io/avatars/50/abott@adorable.png');
  background-size: contain;
}

 .menu-button {
  z-index: 999;
  background: transparent !important;
}

.userMenu-close {
  float: right;
} 

.mdl-button {
  position: static !important;
} 

/* HOME */


.Home-Login-Menu {
  margin: auto;
  width: 100%;
}

/* MainPage */

/* .card-container {
  
  width: 100%;
  margin: auto;
} */

/* .card {
  border: 1px solid #fff;
  padding: 20px;
  margin: 10px auto;
  width: 95vw;

} */


.card-title {
  max-height: 10vh;
  overflow: hidden;
  line-height: 1.5em;
  min-height: 6em;
}
.card-description {
line-height: 1em;
min-height: 15em;
max-height: 70vh;
overflow: hidden;

}
.card-type {
  line-height: 2em;
  font-size: 1em;
  height: 5vh;
  overflow: hidden;
}
.card-footer {
  height: 15vh;
}

.card-branch {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 2em;
  font-size: 1.1em;
  }

.card-button {
border-radius: 50%;
padding: 10px;
background-color: transparent;
margin: 0px 20px
}

.card-emoji-admin {
background: transparent;
}

.card p {
  text-align: justify;
}
.icon {
  float: left;
}




.icon-branch::before {
  display: block;
  content: "";
  background-image: url(./img/branch.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

.icon-type::before {
  display: block;
  content: "";
  background-image: url(./img/type.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  clear: both;
}

.float-right{
  float: right;
}

/* Slick Carrousel */

.slick-next, .slick-prev {
  background-color: black;
  border-radius: 50%;
}


@media only screen and (min-width: 600px) {

  .card p {
    font-size: 1.2em;
  }
  .card-title h3 {
    font-size: 2em;

  }
  .card-title {
    height: 15vh;
  }

  .card-container {
    /* width: 90%; */
    width: 100%;
    margin: auto;
    max-width: 500px;
  }
  
  .card {
    width: 90%;
  /* z-index: 999; */
  }

}

